*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

footer img {

    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .image img {
    flex: 1;
    max-width: 20%;
    height: auto;
  }